cityscapesscripts
cycler
gdown
kiwisolver
kornia
matplotlib
numpy
opencv-python
pandas
Pillow
prettytable
pyparsing
pytz
PyYAML
scipy
seaborn
timm
tqdm
typing-extensions
wcwidth
yapf==0.40.1
scikit-image
fastremap
numba
pytorch_revgrad
future
tensorboard
setuptools==59.5.0
